.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
  background-color: #faf1ee;
  position: relative;
}
.smallDisplay {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  padding: 20px 0px;
}
.smallDisplay li a,
.bigDisplay li a {
  font-size: large;
  font-weight: 600;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bigDisplay li {
  display: flex;
  margin: 0 10px;
}
@media screen and (min-width: 1023px) {
  .bigDisplay {
    display: flex !important;
    justify-content: end !important;
  }
}
@media screen and (min-width: 100px) and (max-width: 750px) {
  .smallDisplay {
    display: block !important;
  }
}

@media screen and (min-width: 100px) and (max-width: 750px) {
  .logo1 {
    display: block;
  }
  .logo2 {
    display: none;
  }
}
@media screen and (min-width: 751px) and (max-width: 1750px) {
  .logo1 {
    display: none;
  }
  .logo2 {
    display: block;
  }
}
